﻿@using WebSipicha.Models
@*@model ICardItem*@
@model IEnumerable<ICardItem>

@{
    IEnumerable<ICardItem> cardItems = ViewBag.AllItems as IEnumerable<ICardItem>;
    foreach (var item in cardItems)
    {
        string check = "";
        if (Model.Contains(item))
        {
            check = "checked";
        }
        string name = item.GetType().BaseType.Name + "." + item.Id;
        <input class="mycheckbox" type="checkbox" id="@item.Describe" name="@name" @check>
        <label for="@item.Describe">@item.Describe</label><br />
    }
}
