﻿@{
    ViewBag.Title = "Си Пи Ча";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <button onclick="location.href='@Url.Action("Create", "Purchases")'" class="btn-info">Купить чай</button>
        </div>
    </div>
</div>