﻿@model WebSipicha.Models.Shop

@{
    ViewBag.Title = "Добавить магазин";
}

<h2>Добавить</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Partial("ShopInput", Model)
}


<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
