﻿@model WebSipicha.Models.Shop

@{
    string archiveAction;
    if (Model.IsClosed)
    {
        archiveAction = "Разархивировать";
    }
    else
    {
        archiveAction = "Архивировать";
    }
    ViewBag.Title = "Удалить магазин";
}

<h2>Удалить магазин</h2>
<h3>Будут удалены соответствующие записи о ваших покупках в количестве: @Model.PurchaseSet.Count</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebSite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebSite)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" name="action" value="Удалить" class="btn btn-default" /> |
            <input type="submit" name="action" value="@archiveAction" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку", "Index")
        </div>
    }
</div>
