﻿@model WebSipicha.Models.Tea

@{
    ViewBag.Title = "Добавить чай";
}

<h2>Добавть</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    @Html.Partial("TeaInput", Model)
}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
