﻿@using WebSipicha.Models
@model Picking

@{
    ViewBag.Title = "Карточка вкуса";
}

<h2>Карточка вкуса</h2>

<div>
    <h4>Информация о чае</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tea.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tea.Name)
        </dd>
    </dl>



    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <table>
            <tr>
                <td valign="top">
                    <div>
                        @{
                            @Html.DisplayNameFor(model => model.CardSet.First().AromaLeafSet.First().Describe)<br />
                            ViewBag.AllItems = ViewBag.AromaLeafSet;
                            @Html.Partial("CardItem", Model.GetAromaLeafSetByPerson("Я"));
                            
                            using (Ajax.BeginForm("CheckBox", new AjaxOptions { UpdateTargetId = "new" }))
                            {

                                <div id="new"></div>
                                @Html.TextBox("Describe")
                                <input type="submit" name="addCardItem" value="Добавить" class="btn btn-default" />
                            }
                        }
                    </div>
                </td>
                <td valign="top">
                    <div>
                        @{
                            @Html.DisplayNameFor(model => model.CardSet.First().InfusionSet.First().Describe)<br />
                            ViewBag.AllItems = ViewBag.InfusionSet;
                            @Html.Partial("CardItem", Model.GetInfusionSetByPerson("Я"));
                        }
                    </div>
                </td>
                <td valign="top">
                    <div>
                        @{
                            @Html.DisplayNameFor(model => model.CardSet.First().AromaInfusionSet.First().Describe)<br />
                            ViewBag.AllItems = ViewBag.AromaInfusionSet;
                            @Html.Partial("CardItem", Model.GetAromaInfusionSetByPerson("Я"));
                        }
                    </div>
                </td>
                <td valign="top">
                    <div>
                        @{
                            @Html.DisplayNameFor(model => model.CardSet.First().TasteInfusionSet.First().Describe)<br />
                            ViewBag.AllItems = ViewBag.TasteInfusionSet;
                            @Html.Partial("CardItem", Model.GetTasteInfusionSetByPerson("Я"));
                        }
                    </div>
                </td>
                <td valign="top">
                    <div>
                        @{
                            @Html.DisplayNameFor(model => model.CardSet.First().AfterTasteSet.First().Describe)<br />
                            ViewBag.AllItems = ViewBag.AfterTasteSet;
                            @Html.Partial("CardItem", Model.GetAfterTasteSetByPerson("Я"));
                        }
                    </div>
                </td>
                <td valign="top">
                    <div>
                        @{
                            @Html.DisplayNameFor(model => model.CardSet.First().ImpressionSet.First().Describe)<br />
                            ViewBag.AllItems = ViewBag.ImpressionSet;
                            @Html.Partial("CardItem", Model.GetImpressionSetByPerson("Я"));
                        }
                    </div>
                </td>
            </tr>
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="action" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
                            }

</div>

<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/scripts/jquery.validate.min.js")
}
