﻿@model WebSipicha.Models.Purchase

@{
    ViewBag.Title = "Добавить покупку";
}

<h2>Добавть</h2>

@using (Html.BeginForm("Create", "Purchases", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Purchase</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Cost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cost, new { htmlAttributes = new { @class = "form-control", @placeholder = "0.0" } })
                @Html.ValidationMessageFor(model => model.Cost, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Shop, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ShopId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ShopId, "", new { @class = "text-danger" })
                <div id="partialShop">
                    @Ajax.ActionLink("Добавить новый магазин", "ShopInput", "Shops", new AjaxOptions { UpdateTargetId = "partialShop" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Picking.Tea, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TeaId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Picking.Tea, "", new { @class = "text-danger" })
                <div id="partialTea">
                    @Ajax.ActionLink("Добавить новый чай", "TeaInput", "Teas", new AjaxOptions { UpdateTargetId = "partialTea" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Picking.Province, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Province", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Picking.Province, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Picking.Year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Year", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Picking.Year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Picking.Season, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Season", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Picking.Season, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="action" value="Готово" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/scripts/jquery.validate.min.js")
}
