﻿@model WebSipicha.Models.Purchase

@{
    ViewBag.Title = "Детали";
}

<h2>Детали</h2>

<div>
    <h4>Ваши покупки</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Picking.Tea.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picking.Tea.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Picking.Province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picking.Province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shop.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>
